@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Welcome!</h1>
    <div class="row">
       <div class="col-sm6">
           <partial name="_Registerpartial"/>
       </div>
       <div class="col-sm-6">
           <partial name="_Loginpartial"/>
       </div>
    </div>
</div>